{
#local_certs
auto_https disable_redirects
servers :8080 {
protocol {
allow_h2c
}
}
}
http://{host}:80 {
reverse_proxy https://www.google.com
}

http://{host}:8080 {
reverse_proxy https://www.googl.com
}
{host} {
reverse_proxy https://www.google.com
}
