{
#local_certs
auto_https disable_redirects
servers :8080 {
protocol {
allow_h2c
}
}
}
http://{host}:80 {
respond "Hello, world!"
}

http://{host}:8080 {
respond "Hello, world!"
}
{host} {
respond "Hello, world!"
}
