{
auto_https disable_redirects
servers :8080 {
protocol {
allow_h2c
}
}
}
http://{host} {
root * /srv/
file_server
}

http://{host}:8080 {
root * /srv/
file_server
}
{host} {
respond "Hello, world!"
}
